In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [7]:
store_data = pd.read_csv('/home/sabaszx/240-425-Data-mining/set1.csv',header=None)

In [8]:
store_data.head()

       0       1        2     3
0  apple  cereal  diapers   NaN
1   beer  cereal     eggs   NaN
2  apple    beer   cereal  eggs
3   beer    eggs      NaN   NaN

In [9]:
records = []
for i in range(0, 3):
    records.append([str(store_data.values[i,j] for j in range(0,3))])

In [10]:
association_rules = apriori(records, min_support = 0.5, min_length = 2)
association_results = list(association_rules)

In [11]:
print(len(association_rules))

TypeError: object of type 'generator' has no len()

In [12]:
print(association_rules[0])

TypeError: 'generator' object is not subscriptable

In [15]:
for item in association_rules:
    pair = item[0]
    item = [x for x in pair]
    print("Rule " + item[0] + " ==> " + item[1])
    
    print("Support: " + str(item[1]))
    print("Confidence: " + str(item[2][0][2]))
    print("======================")